.track {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.track:not(.playing):hover {
    background-color: var(--color-hover);
}

.track > :nth-child(2) {
    width: 100%;
}

.track .ghost-button {
    visibility: hidden;
}

.track:hover .ghost-button {
    visibility: visible;
}

.playing {
    background-color: var(--color-accent);
}

.playing .title,
.playing .paragraph,
.playing .icon-button {
    color: var(--color-background);
}

.track .ghost-button {
    visibility: visible;
}
